<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE_OUT">
            <PatternLayout pattern="LOG4J %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="CONSOLE_OUT"/>
        </Root>
    </Loggers>
</Configuration>